.space {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f0f0f5;
  border: 1px solid red;
  box-sizing: border-box;
  cursor: pointer;

  &._start {
    background-color: greenyellow;
    border-color: greenyellow;
  }

  &._end {
    background-color: #6a2fff;
    border-color: #6a2fff;
  }
}